
<div class="col-md-2"></div>

<div class="col-md-8">

<div class="row">
<div class="col-md-7">

<h1 class='greentext'>What is ROSHI?</h1>

<h3 class="greentext">ROSHI is a trusted community marketplace for people to list, discover, and book unique classes and Workshop Events around Tel Aviv.</h3>

<div class="row aboutroshi">

<div class="col-md-6 aboutborder"><p>We are a two person Team.  ROSHI is a community for people who want to share their knowlegde of any kind. </p>

<p>The vision and the draft of the Community is already set. For the beginning, we set up this simple but structured site to:
<ul class="listyle">
<li>get together a community</li>
<li>gain more experience in the field</li>
<li>learn the needs of teachers and students</li>
<li>provide an online booking platform for classes</li>
</ul>
</p>

<p>We hope to give you the best service ever! :)</p></div>

<div class="col-md-6"><h4 class="greentext">Hey, I´m Gabriel,</h4>

<p>I moved to Israel last November. Since then, I´ve tried a lot of new things, but it was very hard to find the right class. Even if I could find "something" I wasn´t always sure if there isn´t something better for me. </p>
<p>
I created ROSHI with the vision that anybody should be allowed to transfer his knowledge to another person. It shouldn´t be limited only to countries or schools to provide their set field of knowledge transmission to students.</p></div>
<%= image_tag("https://s3-eu-west-1.amazonaws.com/roshi.app/Global_Pictures/Gabriel_User.png", size: "130x150", class: "aboutimage") %>
</div>
</div>
<div class="col-md-5">
<%= image_tag("https://s3-eu-west-1.amazonaws.com/roshi.app/Global_Pictures/Roshi_About.png", size: '350x400', class: "roshiabout") %>
</div>
</div>





</div>

<div class="col-md-2"></div>