<div class="col-md-2"></div>

<div class="col-md-8 cancel">

<h1>Cancellation</h1>
 
<p>Text has to be revised.
<!--If a booked class is bound to a date, the class can be canceled 24 hours in advance. Since we are not a company with revenue, the class will be fully refunded, except the money transering fees of Paypal. If you just couldn´t attend at specific date we would love to find you another date.--> Just <%= link_to "contact us", static_pages_contact_path %>. 
</p>
</div>

<div class="col-md-2"></div>