<div class="col-md-2">	

</div>

<div class="col-md-2">

	<div class="sidenav">
		<ul class="sidenav-list">
			<li>Profile</li>
			<li>Trust and Achievments</li>
			<li>References</li>
		</ul>
	</div>

</div>
<div class="col-md-6">

	<%= render 'formedit' %>

</div>
<div class="col-md-2" >

</div>