<p id="notice"><%= notice %></p>

<div class="col-md-4 leftside">



</div>

<div class="col-md-6 middle">
    <h1>Your Classes</h1>
      <% if @my_klasses.length === 0 %>
      <p>You haven't listed any classes yet.</p>
      <% else %>
<ul>
<% @my_klasses.each do |klass| %>
<li class="ClassListing">
<div class="row listing">
  <div class="col-md-3 ClassThumbnail">
    Class Picture
  </div>
  <div class="col-md-6 ClassThumbnail">
Link to The Class Preview of     <%= klass.title %>
  </div>
    <div class="col-md-3 ClassThumbnail">
    Class Action
  </div>
</div>
</li>
<% end %>
</ul>
<%end%>






</div>
<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 rightside" id="rightside">

</div>