
<div class="col-md-3" id="leftside">
</div>

<div class="col-md-6" id="middle">
	<h1>New Teacher</h1>
<%= render 'form' %>

	<%= link_to 'Back', teachers_path %>
</div>
<div class="col-md-3">

</div>