//Variables
$bg-green: #A1BBA2;

.nav{
	background-color: $bg-green;
	width:100%;
	position:fixed;
	z-index:1;
	top:0px;
}

.logo_nav {
	a {
	color:black;
  	&:visited {
  	color: black;
  	}
  	&:hover {
  	color:black;
    text-decoration: none;
    
  	}
	}
	li {
	display: inline;
	margin-right: 20px;
	float: left;
	}
}


.user_nav {
	margin-top:10px;
	float: right;
	li {
	font-size: 16px;
	display: inline;
	margin-right: 50px;
	line-height:25px;
	}
		a {

	color:black;
  	&:visited {
  	color: black;
  	}
  	&:hover {
  	color:black;
    text-decoration: none;
    
  	}
	}
}


.nav_search {
	margin-top:10px;
	height: 30px;
	width: 284px;
}
.logo-text {
	font-size: 35px;
	font-family: arial, helvetica, sans-serif;
	line-height:50px;
}

