// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$text-green: #008160;

.listyle li {
    list-style:circle;
    margin:15px;
    padding:5px;
   
	}

.aboutroshi {
	min-height:500px;	
}

.aboutborder {
	border-right:4px solid $text-green;
}

.aboutimage {
	display:block;
	margin: auto;
}

.roshiabout {
	margin-top: 150px;
}

.greentext {
	color:$text-green;
	text-align: left;
}