<div class="col-md-6 links">
<h1>Information</h1>
<ul>
<li></li>
<li>About</li>
<li>FAQ</li>
<li>Cancellation</li>
<li>Contact</li>
<li>Terms of use & Privacy Policy</li>
</ul>

</div>




<div class="col-md-6 followus">

<ul>
<li>Follow us on:</li>
<li>Facebook</li>
<li>Twitter</li>
<li>Google+</li>
</ul>
</div>