

<div class="col-md-3" id="leftside">
</div>

<div class="col-md-6" id="middle">

<h1>Editing Klass</h1>

<%= render 'form' %>

<%= link_to 'Show', @klass %> |
<%= link_to 'Back', klasses_path %>

</div>
<div class="col-md-3">

</div>